<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Bots.Dir" value="D:\Code\GitHub\AIGames.HeadsUpOmaha\bots"/>
		<!--add key="Games.Dir" value="D:\Code\GitHub\AIGames.HeadsUpOmaha\games"/-->
		<add key="Bot.Selected" value="*"/>
		<add key="Bot.Sorting" value="Percentage"/>
		<add key="Elo.Initial" value="1400"/>
		<add key="K.Initial" value="50"/>
		<add key="K.Stable" value="2"/>
		<add key="K.Stabalizer" value="0.98"/>
	</appSettings>
</configuration>